a, a:focus, a:hover, a:active {
  color: #fe0;
}

a:hover {
  color: #fe0;
}

::-moz-selection {
  color: #fff;
  background: #fe0;}

::selection {
  color: #fff;
  background: #fe0;

}

/* .header-navigation a:hover, .header-navigation li.current a {
  color: #0a0a0a;
  BORDER-BOTTOM: 3PX SOLID;
  BORDER-TOP: 3PX SOLID;
} */

.tb-socio .fa:hover {
  color: #fe0;
  border: solid 1px #fe0;
}

.carousel-indicators li.active {
  background: #fe0;
}

.go2top:hover {
  border: solid 2px #fe0;
  color: #fe0;
}

.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
  color: #fe0;
  padding: 0px 10px 0px 10px;
  background: black;
  border-radius: 15px 0px 15px 0;
}

.slider-item-1 .large_bold_white span, .slider-item-2 .large_bold_white span {
  color: #E54A1A;
}

.tp-caption a {
  color: #FF7302;
}

.services-block .fa {
  /* background: #e85425; */
  background: rgba(250,66,10,1);
background: -moz-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,66,10,1)), color-stop(100%, rgba(232,84,37,1)));
background: -webkit-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -o-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -ms-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: linear-gradient(to right, rgb(243, 123, 6) 0%, rgb(234, 64, 9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa420a', endColorstr='#e85425', GradientType=1 );
}

.services-block .fa:after {
  border-top: 9px solid #e85425;
}

.team-block em {
  color: #E54A1A;
}

.portfolio-block .item>a {
  background: rgba(229, 74, 26, 0.85);
}

.choose-us-block .panel-default .accordion-toggle:before {
  /* background-color: #e54a1a; */
  background-color: rgba(250,66,10,1);
background-color: -moz-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,66,10,1)), color-stop(100%, rgba(232,84,37,1)));
background-color: -webkit-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background-color: -o-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background-color: -ms-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background-color: linear-gradient(to right, rgb(243, 123, 6) 0%, rgb(234, 64, 9) 100%);
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa420a', endColorstr='#e85425', GradientType=1 ); */
}

.choose-us-block .panel-default .collapsed:before {
  background-color: #495764;
  /* black */
}

.choose-us-block .panel-default .panel-title:hover .collapsed:before {
  background-color: #e54a1a;
}

.btn-primary {
  background: #E94D1C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #cc3304;
}

.facts-block .item {
  background: rgba(255, 99, 77, 0.92);
}

.pi-price strong {
  /* background: #E85425; */
  background: rgba(250,66,10,1);
background: -moz-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,66,10,1)), color-stop(100%, rgba(232,84,37,1)));
background: -webkit-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -o-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -ms-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: linear-gradient(to right, rgb(243, 123, 6) 0%, rgb(234, 64, 9) 100%);
}

.pi-price strong:after {
  border-top: 9px solid #E85425;
}

.pricing-content .list-unstyled li i {
  color: #E85425;
}

.pricing-footer .btn-default:hover, .pricing-footer .btn-default:active {
  background: #E85425;
}

.portfolio-block .item b:hover {
  color: #E85425;
}

@media (max-width: 1024px) {
  .header-mobi-ext .header-navigation a:hover, .header-mobi-ext .header-navigation li.current a {
    /* background-color: #E85425; */
    background: rgba(250, 66, 10, 1);
    background: -moz-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250, 66, 10, 1)), color-stop(100%, rgba(232, 84, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: linear-gradient(to right, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa420a', endColorstr='#e85425', GradientType=1);
    color: #fff !important;
  }
}

.header .mobi-toggler:hover {
  background-color: #E85425;
  border-color: #E85425;
}
