a, a:focus, a:hover, a:active {
  color: #fe0;
}

a:hover {
  color: #fe0;
}

::-moz-selection {
  color: #000;
  background: #fe0;}

::selection {
  color: #000;
  background: #fe0;

}
.tb-socio .fa:hover {
  color: #fe0;
  border: solid 1px #fe0;
}

.carousel-indicators li.active {
  background: #fe0;
}

.go2top:hover {
  border: solid 2px #fe0;
  color: #fe0;
}

.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
  color: #fe0;
  padding: 0px 10px 0px 10px;
  background: black;
  border-radius: 15px 0px 15px 0;
}

.slider-item-1 .large_bold_white span, .slider-item-2 .large_bold_white span {
  color: #E54A1A;
}

.tp-caption a {
  color: #FF7302;
}

.services-block .fa {
  background: rgba(235,220,7,1);
  background: -moz-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,220,7,1)), color-stop(100%, rgba(209,171,42,1)));
  background: -webkit-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -o-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: linear-gradient(to right, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdc07', endColorstr='#d1ab2a', GradientType=1 );
}

.services-block .fa:after {
  border-top: 9px solid #e85425;
}

.team-block em {
    color: #ffee00;
    background: black;

}

.portfolio-block .item>a {
  background: rgba(229, 204, 26, 0.85);
}
.choose-us-block .panel-default .accordion-toggle:before {
  background: rgba(235,220,7,1);
  background: -moz-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,220,7,1)), color-stop(100%, rgba(209,171,42,1)));
  background: -webkit-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -o-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
  background: linear-gradient(to right, rgba(235,220,7,1) 0%, rgba(209,171,42,1) 100%);
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdc07', endColorstr='#d1ab2a', GradientType=1 ); */
}

.choose-us-block .panel-default .collapsed:before {
  background-color: #495764;
  /* black */
}

.choose-us-block .panel-default .panel-title:hover .collapsed:before {
  background-color: #e54a1a;
}

.btn-primary {
  background: #ffee00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #e0d206;
}

.facts-block .item {
  background: rgba(204, 183, 7, 0.92);
}

.pi-price strong {
  /* background: #E85425; */
  background: rgba(250,66,10,1);
background: -moz-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,66,10,1)), color-stop(100%, rgba(232,84,37,1)));
background: -webkit-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -o-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: -ms-linear-gradient(left, rgba(250,66,10,1) 0%, rgba(232,84,37,1) 100%);
background: linear-gradient(to right, rgb(243, 123, 6) 0%, rgb(234, 64, 9) 100%);
}

.pi-price strong:after {
  border-top: 9px solid #E85425;
}

.pricing-content .list-unstyled li i {
  color: #E85425;
}

.pricing-footer .btn-default:hover, .pricing-footer .btn-default:active {
  background: #E85425;
}

.portfolio-block .item b:hover {
  color: #E85425;
}

@media (max-width: 1024px) {
  .header-mobi-ext .header-navigation a:hover, .header-mobi-ext .header-navigation li.current a {
    /* background-color: #E85425; */
    background: rgba(250, 66, 10, 1);
    background: -moz-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250, 66, 10, 1)), color-stop(100%, rgba(232, 84, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    background: linear-gradient(to right, rgba(250, 66, 10, 1) 0%, rgba(232, 84, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa420a', endColorstr='#e85425', GradientType=1);
    color: #fff !important;
  }
}

.header .mobi-toggler:hover {
  background-color: #E85425;
  border-color: #E85425;
}
.lines-yellow{
color: #495764;
padding: 0px 10px 0px 10px;
background: #ffee00;
border-radius: 15px 0px 15px 0;
}
.col-xs-15,
.col-sm-15,
.col-md-15,

.col-lg-15 {

  min-height: 1px; 

  position: relative;

}
.col-xs-15 {

  float: left;

  width: 20%;

}
@media (min-width: 768px) {

  .col-sm-15 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 992px) {

  .col-md-15 {

    float: left;

    width: 20%;

  }

}

@media (min-width: 1200px) {

  .col-lg-15 {

    float: left;

    width: 20%;

  }

}